* {
  padding: 0;
  margin: 0;
  font-family: 'Martel' ;
 
  
}
body {
  background: -webkit-linear-gradient(45deg, #f9c667 0%,#f79621 100%);
}
nav {

}



nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 0.2rem 0.4rem;
  
  
}

nav ul li a {
  text-decoration: none;
  text-align: center;
  color: #f79621
  
}

.brand {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  display: block;
  color: #111;
  text-decoration: none;
}



nav a:visited {  
  color: #643d0c;
}

nav a:hover {
  color:#352006;
}

.jumbo {
  /* background-image: url(jumbo.jpg);
  width: 100%;
  background-repeat: no-repeat;
 height: 100vh;
 background-position: center;
 background-size: cover;
 display: table; */
 
}

.jumbo p {
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Simonetta', ;
  font-weight: 400i;
  color: white;
  font-style: italic;
  text-shadow: 0.3rem 0.3rem 0.3rem #111;
}

h1 {
font-size: 3rem;
text-align: center;
color: white;
text-shadow: 0.1rem 0.1rem 0.1rem #111;
text-transform: uppercase;
}

/* .center-align{
  display: table-cell;
  vertical-align: middle;
} */

.wrapper{
  
  
}

form {

}

fieldset{
  border: 1px solid #e3f5ab;
  border-radius: 1rem;
  margin: 1rem;
  text-align: center;
}

legend{
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

input:not([type="radio"]) {
display: block;
margin:0 auto;
width: 20rem;
font-size: 1rem;
padding: 0.3rem;
border-radius: 0.5rem;
border-style: none;

}

label {
  /* margin: 1rem; */
}

fieldset p {
  text-transform: capitalize;
}
.radio{
  margin: 0 1rem;
  display: block;
  text-align: center;
  
}

.radio p{
  font-weight: bold;
}
.radio input{
  
  margin: 0;
  padding: 0;
}

button{
  font-size: 1rem;
  border-radius: 0.4rem;
  border: 1px solid #111;
  padding: 0.5rem;
  display: inline-block;
  margin: 1rem auto;
  color: #f79621;
}
button:hover {
  color: #3d2910;
  background-color: #f79621;
}

.result {
  border: 1px solid #e3f5ab;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
}
.card{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-top: 0rem;
 
}

.result p {
  flex-basis: 20%;
  padding: 0.2rem;
  text-align: center;
  margin: 0 0.5rem;
 
}
.day{
  text-align: center;
  padding: 0;
  margin-bottom: 0;
  font-weight: bold;
  
}
.result img{
justify-content: start;
flex-basis: 20%;


}

#description{
  font-style: italic;
}

a i{
  text-align: center;
  margin: 0 1rem;
  color: #2c1c09;
}

.icons {
  text-align: center;
}


